.theme-button[data-theme="blue"] {
  --primary: 211 100% 50%; /* #007AFF */
  --tw-ring-color: #80bdff;
}

.theme-button[data-theme="pink"] {
  --primary: 343 100% 59%; /* #FF2D55 */
  --tw-ring-color: #ff96aa;
}

.theme-button[data-theme="green"] {
  --primary: 133 73% 63%; /* #4CD964 */
  --tw-ring-color: #a6ecb2;
}

.theme-button[data-theme="orange"] {
  --primary: 35 100% 50%; /* #FF9500 */
  --tw-ring-color: #ffca80;
}

.theme-button[data-theme="red"] {
  --primary: 355 100% 59%; /* #FF3B30 */
  --tw-ring-color: #ff9d98;
}
